@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap");
main .video-section {
  padding: 15px;
}
@media screen and (max-width: 767px) {
  main .video-section {
    background-color: #f9dc30;
  }
}
main .video-section > div.container .logo {
  margin-bottom: 28px;
}
main .video-section > div.container .logo img {
  width: 150px;
}
main .video-section > div.container .info .title {
  font-size: 28px;
  text-align: left;
  white-space: pre-line;
  align-self: flex-start;
}
main .video-section > div.container .info p {
  color: black;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: 800;
}
main .video-section > div.container .info ul {
  margin: 1rem 0;
  font-size: 13px;
}
main .video-section > div.container .info ul li {
  display: flex;
  align-items: center;
}
main .video-section > div.container .info ul li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #f9dc30;
  border-radius: 50%;
  margin-right: 5px;
}
main .video-section > div.container .info .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
main .video-section > div.container .info .link a {
  font-weight: 600;
  padding: 5px 30px;
  background: #f9dc30;
  border: 3px solid black;
  border-radius: 15px;
  color: black;
  font-weight: 900;
}
main .video-section > div.container .video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
main .video-section > div.container .video-container iframe {
  width: 90%;
}
main .video-section > div.container .video-container .video--mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  main .video-section > div.container .video-container .video--mobile {
    display: block;
    width: 90%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  main .video-section > div.container .video-container .video--desktop {
    display: none;
  }
}

main .member-section {
  background-color: #f9dc30;
}
@media screen and (max-width: 767px) {
  main .member-section div.container {
    padding-top: 0;
  }
}
main .member-section div.container h2.title {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  main .member-section div.container h2.title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  main .member-section div.container .membresias-item {
    margin-top: 15px;
  }
}
main .member-section div.container .membresias-item h3 {
  text-align: left;
  padding-left: 2px;
  font-size: 40px;
  margin-bottom: 15px;
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  main .member-section div.container .membresias-item h3 {
    text-align: center;
    font-size: 35px;
  }
}
main .member-section div.container .membresias-item .membresias-name {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  main .member-section div.container .membresias-item .membresias-name {
    justify-content: center;
  }
}
main .member-section div.container .membresias-item .membresias-name img {
  width: 60%;
}
@media screen and (max-width: 767px) {
  main .member-section div.container .membresias-item .membresias-name img {
    width: 44%;
  }
}
main .member-section div.container .membresias-item h4 {
  width: 100%;
  display: block;
  background-color: #f9dc30;
  margin-right: auto;
  color: #000;
  text-align: left;
  text-transform: capitalize;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  main .member-section div.container .membresias-item h4 {
    text-align: center;
  }
}
main .member-section div.container .membresias-item b {
  display: block;
  font-weight: 900;
}
main .member-section div.container .membresias-item p {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  main .member-section div.container .membresias-item p {
    text-align: center;
  }
}
main .member-section div.container .membresias-item ul {
  list-style: none;
}
main .member-section div.container .membresias-item ul li {
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  main .member-section div.container .membresias-item ul li {
    text-align: center;
  }
}

main .features-section {
  padding: 20px 0;
}
main .features-section > div.container h2 {
  margin-bottom: 50px;
  font-weight: 600;
}
main .features-section > div.container .items > div {
  text-align: center;
}
main .features-section > div.container .items > div img {
  width: 100%;
  max-width: 75px;
}
main .features-section > div.container .items > div p {
  margin-top: 20px;
  font-weight: 600;
  font-size: 15px;
}

main .contact-section > div.container {
  justify-content: center;
}
main .contact-section > div.container .title {
  margin-bottom: 40px;
}
main .contact-section > div.container .title h4 {
  font-size: 2.5rem;
  font-weight: 600;
}
main .contact-section > div.container .title h4 span {
  font-weight: 800;
}
main .contact-section > div.container .footer-map iframe {
  width: 100%;
  height: 100%;
  padding: 10px;
}
main .contact-section > div.container ul {
  list-style: none;
}
main .contact-section > div.container ul li, main .contact-section > div.container ul a {
  padding: 12px 0;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
main .contact-section > div.container ul li > div, main .contact-section > div.container ul a > div {
  padding-left: 25px;
  display: flex;
  align-items: flex-start;
}
main .contact-section > div.container ul li > div .icon, main .contact-section > div.container ul a > div .icon {
  margin-right: 20px;
}
main .contact-section > div.container ul li > div .icon img, main .contact-section > div.container ul a > div .icon img {
  width: 100%;
  max-width: 18px;
}
main .contact-section > div.container ul .social-links a {
  margin: 0 5px;
}
main .contact-section > div.container ul .social-links a img {
  width: 45px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section {
  padding: 50px 0;
}
.section > div.container {
  padding: 30px 10px 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  position: relative;
}
main .go-top {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
  width: 50px;
  transition: fill 0.3s ease-in;
}
main .go-top:focus, main .go-top:active {
  outline: none;
}
main .go-top img {
  width: 100%;
}
main .go-top:hover {
  fill: #f9dc30;
}
main .go-top:hover .st1 {
  stroke: #f9dc30;
}
main .title {
  font-weight: 600;
  font-size: 2.5rem;
}
main .scroll-down {
  margin-top: 40px;
}
main .scroll-down .video-section__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .scroll-down .video-section__actions-mouse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}
main .scroll-down .video-section__actions-mouse:active, main .scroll-down .video-section__actions-mouse:focus {
  outline: none;
}
main .scroll-down .video-section__actions-mouse svg {
  height: 100%;
  position: absolute;
}
main .scroll-down .video-section__actions-mouse--front {
  top: 50%;
  transform-origin: top;
  transform: scaleY(0.9);
  animation: move-mouse 0.5s ease-in-out alternate infinite;
}
main .scroll-down .video-section__actions a {
  font-weight: 600;
  padding: 5px 82px;
  background: var(--primary);
  border: 3px solid black;
  border-radius: 15px;
  color: black;
  font-weight: 900;
  height: 55px;
  display: flex;
  align-items: center;
}

@keyframes move-mouse {
  to {
    transform: scaleY(0.9);
  }
  from {
    transform: scaleY(1);
  }
}

/*# sourceMappingURL=styles.css.map */
