
main {
    .contact-section {
        > div.container {
            justify-content: center;

            .title {
                margin-bottom: 40px;
                h4 {
                    font-size: 2.5rem;
                    font-weight: 600;
                    span {
                        font-weight: 800;
                    }

                }
            }

            .footer-map {
                iframe {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                }
            }

            ul {
                list-style: none;
                li , a {
                    padding: 12px 0;
                    font-weight: 600;
                    color: #000;
                    text-decoration: none;
                    > div {
                        padding-left: 25px;
                        display: flex;
                        align-items: flex-start;
                        .icon {
                            margin-right: 20px;
                            img {
                                width: 100%;
                                max-width: 18px;
                            }
                        }
                    }
                }

                .social-links {
                    a {
                        margin: 0 5px;
                        img {
                            width: 45px;
                        }
                    }
                }
            }
                    
        }

    }

}