main .member-section 
	background-color: $primary
	div.container
		@media screen and (max-width: 767px)
			padding-top: 0
		h2.title 
			margin-bottom: 60px
			@media screen and (max-width: 767px)
				margin-bottom: 20px
		.membresias-item
			@media screen and (max-width: 767px)
				margin-top: 15px
			h3
				text-align: left
				padding-left: 2px
				font-size: 40px
				margin-bottom: 15px
				border-radius: 5px 5px 0 0
				padding-top: 10px
				font-weight: 600
				@media screen and (max-width: 767px)
					text-align: center
					font-size: 35px

			.membresias-name
				display: flex 
				justify-content: flex-start
				@media screen and (max-width: 767px)
					justify-content: center
					

				img
					width: 60%
					@media screen and (max-width: 767px)
						width: 44%
			h4 
				width: 100%
				display: block
				background-color: $primary
				margin-right: auto
				color: #000
				text-align: left
				text-transform: capitalize
				margin-top: 20px
				@media screen and (max-width: 767px)
					text-align: center 

			b
				display: block 
				font-weight: 900
			p 
				font-size: 20px
				@media screen and (max-width: 767px)
					text-align: center

			ul
				list-style: none
				li
					font-weight: 600
					font-size: 14px
					margin-top: 5px
					@media screen and (max-width: 767px)
						text-align: center


