
main

    .video-section

        padding: 15px

        @media screen and (max-width: 767px)
            background-color: $primary

        > div.container 
            
            .logo
                margin-bottom: 28px
                img 
                    width: 150px
            
            .info 
                .title 
                    font-size: 28px
                    text-align: left
                    white-space: pre-line
                    align-self: flex-start
                p 
                    color: black
                    font-weight: 600
                    font-size: 15px
                    margin-bottom: 25px
                    font-weight: 800
                ul 
                    margin: 1rem 0
                    font-size: 13px
                    li
                        display: flex
                        align-items: center
                        &:before
                            content: ""
                            display: inline-block
                            width: 5px
                            height: 5px
                            background: $primary
                            border-radius: 50%
                            margin-right: 5px
                
                .link
                    display: flex
                    justify-content: center 
                    align-items: center
                    margin-bottom: 25px

                    a 
                        font-weight: 600
                        padding: 5px 30px
                        background: $primary
                        border: 3px solid black
                        border-radius: 15px
                        color: black
                        font-weight: 900
            .video-container
                display: flex
                justify-content: center
                align-items: center
                margin: 10px 0
                iframe 
                    width: 90%
                .video--mobile 
                    display: none
                    @media screen and (max-width: 767px)
                        display: block
                        width: 90%
                        margin-bottom: 20px
                .video--desktop
                    @media screen and (max-width: 767px)
                        display: none
                    