main {
    .features-section {
        padding: 20px 0;
        > div.container {
            h2 {
                margin-bottom: 50px;
                font-weight: 600;
            }
            .items {
                > div {
                    img {
                        width: 100%;
                        max-width: 75px;
                    }
                    text-align: center;
                    p {
                        margin-top: 20px;
                        font-weight: 600;
                        font-size: 15px;
                    }
                }
            }

        }

    }
}

