@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap')

$family-sans-serif: 'Montserrat', sans-serif

$primary: #f9dc30

@import './video'
@import './member'
@import './features'
@import './contact'

    
*
    padding: 0
    margin: 0
    box-sizing: border-box
body 
    font-family: $family-sans-serif
.section 
    padding: 50px 0
    > div.container 
        padding: 30px 10px 40px 10px
        display: flex 
        flex-direction: column
        justify-content: space-around


main 
    position: relative
    .go-top 
        position: absolute
        width: 50px
        height: 50px
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background: none
        border: none
        cursor: pointer
        right: 30px
        bottom: 30px
        width: 50px

        transition: fill 0.3s ease-in

        &:focus,
        &:active 
            outline: none
        

        img 
            width: 100%
            
    

        &:hover 
            fill: $primary

            .st1 
                stroke: $primary
  
        


    .title
        font-weight: 600
        font-size: 2.5rem
    .scroll-down 
        margin-top: 40px
        .video-section__actions
            width: 100%
            display: flex
            justify-content: space-between

            &-mouse 
                position: relative
                display: flex
                justify-content: center
                align-items: center
                height: 50px
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
                background: none
                border: none
                cursor: pointer
        
        
                &:active,
                &:focus 
                    outline: none
                
        
                svg 
                    height: 100%
                    position: absolute
                
        
                &--front 
                    top: 50%
                    transform-origin: top
                    transform: scaleY(0.9)
                    animation: move-mouse 0.5s ease-in-out alternate infinite

            a 
                font-weight: 600
                padding: 5px 82px
                background: var(--primary)
                border: 3px solid black
                border-radius: 15px
                color: black
                font-weight: 900
                // align-self: flex-start
                height: 55px
                display: flex
                align-items: center



@keyframes move-mouse
    to 
        transform: scaleY(0.9)
    from 
        transform: scaleY(1)
 